@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    animation: fadein ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

main {
    position: relative;
}

.spinner-wrapper {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center;
}

.spinner {
    margin: 6em;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    border: 5px solid rgb(192, 192, 192);
    border-top: 1px solid white;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    margin-top: auto;
}

.footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". footing .";
    justify-items: center;
    align-items: center;
    font-size: 0.5vw;
    box-shadow: 0px -2em 2em -2em rgba(0, 0, 0, 0.1);    
}

.footing {
    grid-area: footing;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 2.5em;
    color: rgb(192, 192, 192);
    padding: 1em 0;
}

.header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "logo heading shopping-bag"
        "nav nav nav";
    justify-items: center;
    align-items: center;
    font-size: 0.5em
}

.header a {
    text-decoration: none;
    color: black;
}

.logo {
    grid-area: logo;
    font-family: 'Mynerve', cursive;
    font-size: 8em;
}

.heading {
    grid-area: heading;
    font-family: 'Mynerve', cursive;
    font-size: 5em;
    color: rgb(192, 192, 192);
    cursor: default;
    /* position: relative; */
}

.heading span {
    display: inline-block;
}

.giggle {
    animation: giggle 0.5s;
}

@keyframes giggle {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.shopping-bag {
    grid-area: shopping-bag;
    width: 8em;
    position: relative;
}

.shopping-bag a img {
    width: 100%;
}

.shopping-bag .cart-counter {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-family: 'Schibsted Grotesk', sans-serif;
    color: white;
    background-color: black;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1.2em;
}

.nav {
    grid-area: nav;
    width: 100%;
    padding: 2em 0 2em 0;
    box-shadow: 0px 2em 2em -2em rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(192, 192, 192, 0.3);
}

/* STYLING NAV BAR  */
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-around;
}
.nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nav ul li a {
    text-decoration: none;
    font-family: 'DynaPuff', cursive;
    font-weight: bold;
    color: black;
    font-size: 3em;
}

.nav ul li .underline {
    background-color: black;
    display: block;
    height: 3px;
    border-radius: 5px;
    animation: grow 1s forwards;
}

@keyframes grow {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;;
    }
}

.products-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* STYLING PRODUCT BOX  */
.product {
    margin: 1em 0.2em;
    padding: 0 1em 0 1em;
    font-family: 'Schibsted Grotesk', sans-serif;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "product-image product-image"
        "product-name product-name"
        "product-price ."
        "cart-form cart-form";

    width: 100%;
    max-width: 365px;
    box-shadow: 0px 1em 0.5em -0.5em rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1.4em 1.4em;
}

.product .product-image-box {
    grid-area: product-image;
    position: relative;
    overflow: hidden;
}

.product .product-image-box .slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    aspect-ratio: 3 / 4 ;
    white-space: nowrap;
    scrollbar-width: none;
}

.product .product-image-box .slider::-webkit-scrollbar {
    display: none;
}

.product .product-image-box .slider .product-image {
    flex: 1 0 100%;
    scroll-snap-align: start;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.slider-buttons {
    width: 100%;
    display: flex;
    height: 3em;
    border: 5px solid transparent;
    position: absolute;
    bottom: 0;
}

.slider-buttons button {
    margin: 0 4px;
    border-radius: 1.5em;
    color: black;
    
    background-color: transparent;
    border: none;
    flex-grow: 1;
    /* background-color: ; */
    font-size: 1.5em;
    font-weight: bold;
    /* display: flex;
    justify-content: center;
    align-content: center; */
    cursor: pointer;
}

.slider-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.slider-buttons .slideLeft {
    animation: slideLeft 0.5s;
}

.slider-buttons .slideRight {
    animation: slideRight 0.5s;
}

@keyframes slideLeft {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

@keyframes slideRight {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

/* .product .product-image-box .slider-buttons {
    display: flex;
    padding: 1em;
    column-gap: 1em;
    position: absolute;
    bottom: 0;
    justify-content: center;
    left: 0;
    right: 0;
} */

.product .product-image-box .slider-buttons a {
    margin: 0.5em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    /* box-shadow: 0px 1em 0.5em -0.5em rgba(0, 0, 0, 0.1); */
    transition: opcacity ease 250ms;
    border: 1px solid rgb(80, 80, 80);
}

/* CONSIDERING REMOVING THESE AND HAVE THE IMAGES MOVE ON THEIR OWN WHEN THE SITE IS FIRST LOADED */
.product .product-image-box .slider-buttons a:hover {
    opacity: 1;
}

.product .product-name {
    grid-area: product-name;    
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 3em;
}

.product .product-price {
    grid-area: product-price;
    font-weight: bold;
    font-size: 1.5em;
}

.product .cart-form {
    grid-area: cart-form;
    margin: 0.5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "product-quantity ."
        "product-size quantity-notice"
        "cart-submit cart-submit";
    justify-items: center;
    gap: 0.5em;
}

/* STYLING QUANTITY SELECTOR */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
}
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.product-quantity {
    grid-area: product-quantity;
    position: relative;
    /* width: 9em; */
    width: 100%;
    /* margin: 0.5em 0; */
}

.product-quantity .quantity-number {
    font-size: 1.5em;
    width: 100%;
    height: 2em;
}

.product-quantity .decrement-button, .increment-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5em;
    height: 2em;
    width: 25%;
    position: absolute;
}

.decrement-symbol, .increment-symbol {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.product-quantity .decrement-button, .increment-button:hover {
    cursor: pointer;
}

.product-quantity .decrement-button {
    left: 0;
}

.product-quantity .increment-button {
    right: 0;
}

.product .cart-form .product-size {
    background-color: rgb(192, 192, 192);
    border: 1px solid white;
    grid-area: product-size;
    display: inline-flex;
    border-radius: 1em;
    overflow: hidden;
    /* height: 4em; */
    /* margin: 0.5em 0; */
    width: 100%;
    height: 3.5em;
}

.size-label, .empty-size-label {
    flex-grow: 1;
    background-color: rgb(192, 192, 192);
    font-size: 1.5em;
    font-weight: bold;
    /* padding: 0.5em 0.8em; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-size-label {
    color: rgb(255, 255, 255);
    position: relative;
}

.strike {
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: white;
    transform: rotate(45deg);
}

.out-of-stock {
    color: rgb(92, 92, 92);
    background-color: rgb(192, 192, 192);
    font-size: 1.5em;
    font-weight: bold;
    padding: 2em 0.8em;
    margin: 1.5em 0;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}


.product .cart-form .invalid-size {
    border: 1px solid rgba(198, 51, 51);
}

.product .cart-form .invalid-size .size-label {
    color: rgb(198, 51, 51);
    animation: shake 0.5s;
}

.product .cart-form .invalid-size .empty-size-label {
    /* color: rgb(198, 51, 51); */
    animation: shake 0.5s;
}

.product .cart-form .invalid-size .size-label:not(:last-of-type) {
    border-right: 1px solid rgba(198, 51, 51);
}

.product .cart-form .invalid-size .empty-size-label:not(:last-of-type) {
    border-right: 1px solid rgba(198, 51, 51);
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.product .cart-form .size-label:not(:last-of-type) {
    /* border-right: 4px solid rgba(92, 92, 92); */
    border-right: 1px solid white;
}

.product .cart-form .empty-size-label:not(:last-of-type) {
    /* border-right: 4px solid rgba(92, 92, 92); */
    border-right: 1px solid white;
}

.product .cart-form .size-radio {
    display: none;
}

.selected-size {
    background-color: rgb(92, 92, 92);
}

.product .cart-form .cart-submit {
    grid-area: cart-submit;
    /* justify-self: end; */
    height: 2em;
    width: 100%;
    border: none;
    color: white;
    background-color: black;
    /* padding: 0.3em 0.5em; */
    font-size: 1.8em;
    border-radius: 0.5em;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
}

.quantity-notice {
    grid-area: quantity-notice;
    /* padding: 0.2em 1em; */
    font-size: 1em;
    font-weight: bold;
    color: rgb(92, 92, 92);
    align-self: center;
}

/* STYLING CART PAGE  */
.cart-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-title, .error-title {
    margin: 1em;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    box-shadow: 0px 1px rgba(0, 0, 0, 1);
}

.error-title {
    box-shadow: none;
}

.cart-item {
    margin: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "product-image product-name product-price product-quantity remove price";
    align-items: center;
    justify-items: center;
    gap: 1em;
    box-shadow: 0px 1em 0.5em -0.5em rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1.4em 1.4em;
    font-family: 'Schibsted Grotesk', sans-serif;
    overflow: hidden;
}

.cart-item .product-image {
    grid-area: product-image;
    width: 100%;
}

.cart-item .product-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: product-name;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.cart-item .product-name .size {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
    font-size: 0.5em;
    color: grey;
}

.cart-item .product-price {
    grid-area: product-price;
    font-weight: bold;
    font-size: 1.5em;
}

.cart-item .product-quantity {
    grid-area: product-quantity;
}

.cart-item .remove {
    grid-area: remove;
    font-weight: bold;
    font-size: 1.5em;
}

.cart-item .product-total .label {
    font-weight: bold;
    font-size: 1em;
    color: grey;
}

.cart-item .product-total .price {
    grid-area: product-total;
    font-weight: bold;
    font-size: 1.5em;
}

.cart-place-order {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.update-button {
    margin-top: 0.8em;
}

.update-button, .order-submit {
    border: none;
    color: white;
    background-color: black;
    padding: 0.3em 0.5em;
    font-size: 1.8em;
    border-radius: 0.5em;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.subtotal {
    display: flex;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.contact-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 3em;
    gap: 1em;
}

.contact-instagram {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.instagram-link-wrappper {
    flex-grow: 1;
}

.instagram-link {
    text-decoration: none;
}

.instagram-photo-wrapper {
    position: relative;
    max-width: 400px;
    width: 100%;
}

.instagram-photo {
    width: 100%;
    border: 1px solid black;
    border-width: 20px 10px 50px 10px;
    border-radius: 1em;
}

.dot {
    margin: 0 auto;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(100, 100, 100);
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.contact-email {
    width: 100%;
    background-color: black;
    color: white;
    padding: 1em;
    justify-content: center;
    text-align: center;
}

.contact-email a {
    color: white;
}

.gallery-wrapper {
    padding: 1em 0.5em;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img7 img7"
    "img8 img9 img9"
    "img10 img10 img11";
    gap: 0.5em;
    align-items: center;
}

.gallery-wrapper img {
    max-width: 100%;
    object-fit: cover;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}

.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
}

.img10 {
    grid-area: img10;
}

.img11 {
    grid-area: img11;
}

@media (max-width: 1200px) {
    .header {
        font-size: 0.5em;
    }
    .footer {
        font-size: 1vw;
    }
}

@media (max-width: 800px) {
    .cart-item {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "product-image product-name"
        "product-image product-price"
        "product-image product-quantity"
        "product-total remove ";
        align-content: center;
        padding-bottom: 1em;
    }
    .cart-item .product-image {
        width: 40vw;
    }
    .contact-instagram {
        flex-wrap: wrap;
    }
    .instagram-photo, .dot {
        display: none;
    }
    .instagram-link-wrappper {
        font-size: 8vw;
    }
    
    .contact-email {
        padding: 0.5em;
        font-size: 8vw;
    }

}

@media (max-width: 600px) {
    .header {
        font-size: 1.5vw;
    }
    .footer {
        font-size: 1.5vw;
    }
    .contact-wrapper {
        gap: 0.5em;
    }
    .contact-instagram {
        flex-wrap: wrap;
        gap: 0
    }
    .instagram-link-wrappper, .contact-email {
        font-size: 6vw;
    }
}